{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content%}
<div class="container">
    <div class="row mt-3 p-5">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div style="font-size: 160px;">
                <h1 class="profile">PR<i class="fas fa-home"></i>FILE</h1>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 profile-details">
            <div class="container">
                {% for profile in profiles %}
                <div class="m-2 p-3 text-center">
                    <img class="prof-pic" src="{{profile.profile_picture.url}}" alt="">
                    <p class="mt-2">{{profile.user}}</p>
                    <p><i class="fas fa-quote-right me-2"></i>{{profile.bio}}</p>
                    <h6>CONTACT INFORMATION</h6>
                    <p><i class="far fas fa-envelope me-2"></i>{{profile.email}}</p>
                    <p><i class="fas fa-phone me-2"></i>+254{{profile.phone_number}}</p>
                    {% if profile.neighbourhood %}
                    <p><i class="fas fa-home me-2"></i>{{profile.neighbourhood}}</p>
                    {% else %}
                    <p class="text-small text-muted"><i class="fas fa-home me-2"></i><em>Join a neighbourhood for it to be displayed here</em></p>
                    {% endif %}
                    {% endfor %}
                    <a href="{% url 'logout' %}"><p><i style="color:red" class="fas fa-power-off me-2"></i>Logout</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}