{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <title>Add Hood</title>
  {{form.media}}



<div class="card mx-auto" style="max-width:50rem; margin-top:50px;">
  <form  action="{%url 'update_hood'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="post">
  </form>
</div>
   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% bootstrap_javascript %}
{% endblock %}
{% endblock %}
