{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<div class="c" style="padding-top: 24px">
  {% include 'message/message.html' %}
</div>
<div class="container-fluid">
  <header>
    <h1 class="text-center" style="font-weight:bold">{{hood.hood_name}}</h1>
    <h5 class="text-center"><small>{{hood.location}}</small></h5>
  </header>
  <hr>
  <br>
  <div class="row">
    <div class="col-3">
      <a class="btn btn-sm btn-danger" href="{% url 'exitHood' hood.id %}" style="margin:10px">Leave Neighbourhood</a>
      <br>
      <a class="btn btn-sm btn-primary" href="{% url 'create_post' %}">Create Post</a>
      <a class="btn btn-sm btn-secondary" href="{% url 'add_business' %}">Add Business</a>
      <h4>Police and Healthcare</h4>
      <p><small>0712345678</small></p>
    </div>

    <div class="col-5">
      <h4>{{hood.hood_name}} posts</h4>
      <hr>
      {%if posts%}
      {% for post in posts %}
      <div class="media">
        <div class="media-left media-top">
          <img src="{{post.user.profile_photo.url}}" class="media-object" style="width:80px">

        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ post.title }}</h4>
          <p class="media-content">{{ post.content }}</p>
          <small>Resident: {{ post.posted_by }}</small>
          <hr>
        </div>

        <a href="{% url 'delete_post' post.id %}" class="btn btn-sm btn-danger">Delete</a>
        <hr>

      </div>
      {% endfor %}
    <div>
      {% else %}
      <p>No Posts yet.</p>
      <a class="btn btn-sm btn-secondary" href="{% url 'create_post' %}">Create Post</a>
      {% endif %}
    </div>


  </div>
  <div class="col-3">
    <h4>Businesses</h4>
    <hr>
    {% if businesses %}
    {% for biz in businesses %}
    <div class="media">
      {{businesses.b_name}}
      <div class="media-left media-top">
        <img class="img-fluid rounded-circle" src="{{biz.b_photo.url}}" class="media-object" style="height: 50px;
                  width: 60px;">
      </div>
      <div class="media-body">
        <h4 class="media-heading" style="padding:10px; margin:5px">{{biz.b_name}}</h4>
        <p>{{ biz.b_description }}</p>
        <p>{{ biz.b_email}}</p>
      </div>
    </div>
    {% endfor %}
    <div>
      {% else %}
      <p>No Biz</p>
      <a class="btn btn-sm btn-secondary" href="{% url 'add_business' %}">Add Business</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
